<tr class="nested-fields">
  <td></td>
  <td><%= f.text_field :name, class: "form-control" %></td>
  <td><%= f.text_field :start_date, class: "form-control", data: { controller: "flatpickr" } %></td>
  <td><%= f.text_field :end_date, class: "form-control", data: { controller: "flatpickr" } %></td>
  <td><%= link_to_remove_association "削除", f, class: "btn btn-danger" %></td>
</tr>
